[Desktop Entry]
Name=ComfyUI
Exec=bash -c "cd /home/zozano/comfyui && comfyui & sleep 2 && /usr/bin/firefox -P Diffusion http://127.0.0.1:8188/ && wait $!"
Icon=jellyfin-media-player
Terminal=false
Type=Application
Categories=Media;

