[Desktop Entry]
Name=NewComfyUI
Exec=~./local/share/applications/comfyui-shell.sh
Icon=~./local/share/icons/comfyui.png
Terminal=false
Type=Application
Categories=Media;
