[Desktop Entry]
Name=ComfyUI
Exec=kitty bash -c "cd /home/zozano/comfyui && comfyui & sleep 5 && firefox -P Diffusion http://127.0.0.1:8188"
Icon=~/.local/share/icons/comfui.png
Terminal=true
Type=Application
Categories=Media;
