[Desktop Entry]
Name=NewComfyUI
Exec=/home/zozano/.local/share/applications/comfyui-shell.sh
Icon=/home/zozano/.local/share/icons/comfyui.png
Terminal=false
Type=Application
Categories=Media;
