[Desktop Entry]
Name=Jellyfin Media Player
Exec=/home/zozano/.local/share/applications/jellyfin.sh --platform=xcb
Icon=jellyfin-media-player
Terminal=true
Type=Application
Categories=Media;
