[Desktop Entry]
Name=Jellyfin Media Player
Exec=jellyfinmediaplayer --platform=xcb
Icon=jellyfin-media-player
Terminal=true
Type=Application
Categories=Media;
