[Desktop Entry]
Name=Torchlight-Backup
Exec=/home/zozano/.dotfiles/home-manager/source/local/share/applications/tl-backup.sh
Icon=jellyfin-media-player
Terminal=false
Type=Application
Categories=Media;
